.article-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'Noto Serif', serif;
}

h2 {
  margin-top: 40px;
  font-size: 1.6em;
  font-weight: 600;
}

p {
  margin-bottom: 20px;
  font-size: 1.05em;
  color: #333;
}

.graph {
  display: block;
  margin: 0 auto 40px auto;
  max-width: 800px;
}
